===============================

OS Files

===============================

.DS_Store Thumbs.db desktop.ini

===============================

IDE / Editor

===============================

.vscode/ .idea/ .swp .swo

===============================

Python (if scripts are added later)

===============================

pycache/ .pyc .pyo .pyd .egg-info/ .env venv/ .env.*

===============================

Logs

===============================

.log logs/ .out

===============================

Security / Sensitive

===============================

.key .pem .crt .pfx .kdbx .secret *.token

===============================

Wazuh

===============================

ossec.log /var/ossec/logs/

===============================

Metasploitable / Vagrant

===============================

.vagrant/ *.box

===============================

VMware

===============================

.vmx .vmxf .vmdk .nvram .vmem .log *.lck

===============================

Temporary Files

===============================

tmp/ temp/ .tmp .bak

===============================

Build / Export Files

===============================

.zip .tar .tar.gz .iso
